name: Deploy Hugo Site

on:
  workflow_dispatch:
  push:
    branches:
      - posts  # Trigger workflow when files are pushed to the 'posts' branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the Repository
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Ensures all branches are available

      # Step 2: Update Content on Master Branch
      - name: Update Content on Master Branch
        run: |
          # Configure Git for commits
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git fetch origin posts
          git checkout posts
          git fetch origin master
          git checkout master
          git checkout posts
          mkdir -p ../temp-md-files
          mv *.md ../temp-md-files
          git add .
          git commit -m "posts moved to maaster"
          # git push origin posts
          
          git checkout master
          mv ../temp-md-files/*.md content/Posts
          rm -r ../temp-md-files/
          git add content/Posts/ 
          git commit -m "recived new posts"/
          git push origin master
      - name: Clean up posts branch
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git fetch origin posts
          git checkout posts
          
          find -mindepth 1 ! -path '*/.*' -exec rm -rf {} +   
          git add .
          # git commit -m "cleared"
          
          # git fetch origin posts
          # git checkout posts
          # git merge clean --allow-unrelated-histories
          # git branch -d clean
          git push origin posts
          
      # Step 3: Setup Hugo
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.139.4"
          extended: true
    # Specify your Hugo version

      # Step 4: Build the Site
      - name: Build Hugo Site
        run: |
          git checkout master
          git submodule update --init --recursive
          hugo
          git add .
          git commit -m "new build"
          git push origin master
      # Step 5: Deploy to 'For-Hosting' Branch
      - name: Deploy to For-Hosting
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git checkout For-Hosting  # Switch to 'For-Hosting' branch
          git fetch origin master
          git checkout master
          # git add .
          # git commit -m "backup the old version"
          
          # git subtree push --prefix public origin For-Hosting --force
          git subtree split --prefix public -b deploy
          git push origin deploy:For-Hosting --force
          git branch -D deploy

